In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('master.csv')
data = data.rename(columns={'suicides/100k pop':'rate'})

In [4]:
print(data)
male_data = pd.DataFrame(data[data['sex']=='male'], columns= ['country','year','age','rate'])
female_data = pd.DataFrame(data[data['sex']=='female'], columns= ['country','year','age','rate'])

          country  year     sex          age  suicides_no  population   rate  \
0         Albania  1987    male  15-24 years           21      312900   6.71
1         Albania  1987    male  35-54 years           16      308000   5.19
2         Albania  1987  female  15-24 years           14      289700   4.83
3         Albania  1987    male    75+ years            1       21800   4.59
4         Albania  1987    male  25-34 years            9      274300   3.28
5         Albania  1987  female    75+ years            1       35600   2.81
6         Albania  1987  female  35-54 years            6      278800   2.15
7         Albania  1987  female  25-34 years            4      257200   1.56
8         Albania  1987    male  55-74 years            1      137500   0.73
9         Albania  1987  female   5-14 years            0      311000   0.00
10        Albania  1987  female  55-74 years            0      144600   0.00
11        Albania  1987    male   5-14 years            0      338200   0.00
12        Albania  1988  female    75+ years            2       36400   5.49
13        Albania  1988    male  15-24 years           17      319200   5.33
14        Albania  1988    male    75+ years            1       22300   4.48
15        Albania  1988    male  35-54 years           14      314100   4.46
16        Albania  1988    male  55-74 years            4      140200   2.85
17        Albania  1988  female  15-24 years            8      295600   2.71
18        Albania  1988  female  55-74 years            3      147500   2.03
19        Albania  1988  female  25-34 years            5      262400   1.91
20        Albania  1988    male  25-34 years            5      279900   1.79
21        Albania  1988  female  35-54 years            4      284500   1.41
22        Albania  1988  female   5-14 years            0      317200   0.00
23        Albania  1988    male   5-14 years            0      345000   0.00
24        Albania  1989    male    75+ years            2       22500   8.89
25        Albania  1989    male  25-34 years           18      283600   6.35
26        Albania  1989    male  35-54 years           15      318400   4.71
27        Albania  1989    male  55-74 years            6      142100   4.22
28        Albania  1989    male  15-24 years           12      323500   3.71
29        Albania  1989  female  35-54 years            7      288600   2.43
...           ...   ...     ...          ...          ...         ...    ...
27790  Uzbekistan  2012  female  25-34 years          148     2556673   5.79
27791  Uzbekistan  2012  female  35-54 years           89     3474788   2.56
27792  Uzbekistan  2012    male   5-14 years           67     2701361   2.48
27793  Uzbekistan  2012  female  55-74 years           25     1283060   1.95
27794  Uzbekistan  2012  female    75+ years            4      338557   1.18
27795  Uzbekistan  2012  female   5-14 years           16     2578408   0.62
27796  Uzbekistan  2013    male  35-54 years          481     3346411  14.37
27797  Uzbekistan  2013    male  25-34 years          328     2644648  12.40
27798  Uzbekistan  2013  female  15-24 years          323     3039740  10.63
27799  Uzbekistan  2013    male  15-24 years          320     3171202  10.09
27800  Uzbekistan  2013    male  55-74 years          119     1202790   9.89
27801  Uzbekistan  2013    male    75+ years           13      221002   5.88
27802  Uzbekistan  2013  female  25-34 years          146     2647820   5.51
27803  Uzbekistan  2013  female  35-54 years           99     3547895   2.79
27804  Uzbekistan  2013  female    75+ years            8      345180   2.32
27805  Uzbekistan  2013    male   5-14 years           61     2720938   2.24
27806  Uzbekistan  2013  female  55-74 years           21     1356298   1.55
27807  Uzbekistan  2013  female   5-14 years           31     2595000   1.19
27808  Uzbekistan  2014    male  35-54 years          519     3421300  15.17
27809  Uzbekistan  2014    male  25-34 years          318     2739150  11.61
27810  Uzbekistan  2014  female  15-24 years          347     2992817  11.59
27811  Uzbekistan  2014    male  55-74 years          144     1271111  11.33
27812  Uzbekistan  2014    male  15-24 years          347     3126905  11.10
27813  Uzbekistan  2014    male    75+ years           17      224995   7.56
27814  Uzbekistan  2014  female  25-34 years          162     2735238   5.92
27815  Uzbekistan  2014  female  35-54 years          107     3620833   2.96
27816  Uzbekistan  2014  female    75+ years            9      348465   2.58
27817  Uzbekistan  2014    male   5-14 years           60     2762158   2.17
27818  Uzbekistan  2014  female   5-14 years           44     2631600   1.67
27819  Uzbekistan  2014  female  55-74 years           21     1438935   1.46

         country-year  HDI for year  gdp_for_year ($)   gdp_per_capita ($)  \
0         Albania1987           NaN      2,156,624,900                 796
1         Albania1987           NaN      2,156,624,900                 796
2         Albania1987           NaN      2,156,624,900                 796
3         Albania1987           NaN      2,156,624,900                 796
4         Albania1987           NaN      2,156,624,900                 796
5         Albania1987           NaN      2,156,624,900                 796
6         Albania1987           NaN      2,156,624,900                 796
7         Albania1987           NaN      2,156,624,900                 796
8         Albania1987           NaN      2,156,624,900                 796
9         Albania1987           NaN      2,156,624,900                 796
10        Albania1987           NaN      2,156,624,900                 796
11        Albania1987           NaN      2,156,624,900                 796
12        Albania1988           NaN      2,126,000,000                 769
13        Albania1988           NaN      2,126,000,000                 769
14        Albania1988           NaN      2,126,000,000                 769
15        Albania1988           NaN      2,126,000,000                 769
16        Albania1988           NaN      2,126,000,000                 769
17        Albania1988           NaN      2,126,000,000                 769
18        Albania1988           NaN      2,126,000,000                 769
19        Albania1988           NaN      2,126,000,000                 769
20        Albania1988           NaN      2,126,000,000                 769
21        Albania1988           NaN      2,126,000,000                 769
22        Albania1988           NaN      2,126,000,000                 769
23        Albania1988           NaN      2,126,000,000                 769
24        Albania1989           NaN      2,335,124,988                 833
25        Albania1989           NaN      2,335,124,988                 833
26        Albania1989           NaN      2,335,124,988                 833
27        Albania1989           NaN      2,335,124,988                 833
28        Albania1989           NaN      2,335,124,988                 833
29        Albania1989           NaN      2,335,124,988                 833
...               ...           ...                ...                 ...
27790  Uzbekistan2012         0.668     51,821,573,338                1964
27791  Uzbekistan2012         0.668     51,821,573,338                1964
27792  Uzbekistan2012         0.668     51,821,573,338                1964
27793  Uzbekistan2012         0.668     51,821,573,338                1964
27794  Uzbekistan2012         0.668     51,821,573,338                1964
27795  Uzbekistan2012         0.668     51,821,573,338                1964
27796  Uzbekistan2013         0.672     57,690,453,461                2150
27797  Uzbekistan2013         0.672     57,690,453,461                2150
27798  Uzbekistan2013         0.672     57,690,453,461                2150
27799  Uzbekistan2013         0.672     57,690,453,461                2150
27800  Uzbekistan2013         0.672     57,690,453,461                2150
27801  Uzbekistan2013         0.672     57,690,453,461                2150
27802  Uzbekistan2013         0.672     57,690,453,461                2150
27803  Uzbekistan2013         0.672     57,690,453,461                2150
27804  Uzbekistan2013         0.672     57,690,453,461                2150
27805  Uzbekistan2013         0.672     57,690,453,461                2150
27806  Uzbekistan2013         0.672     57,690,453,461                2150
27807  Uzbekistan2013         0.672     57,690,453,461                2150
27808  Uzbekistan2014         0.675     63,067,077,179                2309
27809  Uzbekistan2014         0.675     63,067,077,179                2309
27810  Uzbekistan2014         0.675     63,067,077,179                2309
27811  Uzbekistan2014         0.675     63,067,077,179                2309
27812  Uzbekistan2014         0.675     63,067,077,179                2309
27813  Uzbekistan2014         0.675     63,067,077,179                2309
27814  Uzbekistan2014         0.675     63,067,077,179                2309
27815  Uzbekistan2014         0.675     63,067,077,179                2309
27816  Uzbekistan2014         0.675     63,067,077,179                2309
27817  Uzbekistan2014         0.675     63,067,077,179                2309
27818  Uzbekistan2014         0.675     63,067,077,179                2309
27819  Uzbekistan2014         0.675     63,067,077,179                2309

            generation
0         Generation X
1               Silent
2         Generation X
3      G.I. Generation
4              Boomers
5      G.I. Generation
6               Silent
7              Boomers
8      G.I. Generation
9         Generation X
10     G.I. Generation
11        Generation X
12     G.I. Generation
13        Generation X
14     G.I. Generation
15              Silent
16     G.I. Generation
17        Generation X
18     G.I. Generation
19             Boomers
20             Boomers
21              Silent
22        Generation X
23        Generation X
24     G.I. Generation
25             Boomers
26              Silent
27     G.I. Generation
28        Generation X
29              Silent
...                ...
27790       Millenials
27791     Generation X
27792     Generation Z
27793          Boomers
27794           Silent
27795     Generation Z
27796     Generation X
27797       Millenials
27798       Millenials
27799       Millenials
27800          Boomers
27801           Silent
27802       Millenials
27803     Generation X
27804           Silent
27805     Generation Z
27806          Boomers
27807     Generation Z
27808     Generation X
27809       Millenials
27810       Millenials
27811          Boomers
27812       Millenials
27813           Silent
27814       Millenials
27815     Generation X
27816           Silent
27817     Generation Z
27818     Generation Z
27819          Boomers

[27820 rows x 12 columns]

In [5]:
male_data.groupby(['age']).count()

             country  year  rate
age
15-24 years     2321  2321  2321
25-34 years     2321  2321  2321
35-54 years     2321  2321  2321
5-14 years      2305  2305  2305
55-74 years     2321  2321  2321
75+ years       2321  2321  2321

In [6]:
male_data.to_csv('male.csv',index=False)
female_data.to_csv('female.csv',index=False)
male_data

          country  year          age   rate
0         Albania  1987  15-24 years   6.71
1         Albania  1987  35-54 years   5.19
3         Albania  1987    75+ years   4.59
4         Albania  1987  25-34 years   3.28
8         Albania  1987  55-74 years   0.73
11        Albania  1987   5-14 years   0.00
13        Albania  1988  15-24 years   5.33
14        Albania  1988    75+ years   4.48
15        Albania  1988  35-54 years   4.46
16        Albania  1988  55-74 years   2.85
20        Albania  1988  25-34 years   1.79
23        Albania  1988   5-14 years   0.00
24        Albania  1989    75+ years   8.89
25        Albania  1989  25-34 years   6.35
26        Albania  1989  35-54 years   4.71
27        Albania  1989  55-74 years   4.22
28        Albania  1989  15-24 years   3.71
35        Albania  1989   5-14 years   0.00
36        Albania  1992  35-54 years   3.49
37        Albania  1992  15-24 years   3.41
38        Albania  1992  55-74 years   3.13
39        Albania  1992  25-34 years   2.85
46        Albania  1992   5-14 years   0.00
47        Albania  1992    75+ years   0.00
48        Albania  1993  15-24 years   7.40
49        Albania  1993  55-74 years   4.24
50        Albania  1993    75+ years   4.13
51        Albania  1993  25-34 years   3.91
53        Albania  1993  35-54 years   2.85
58        Albania  1993   5-14 years   0.27
...           ...   ...          ...    ...
27760  Uzbekistan  2010  35-54 years  11.81
27761  Uzbekistan  2010  25-34 years   9.89
27762  Uzbekistan  2010  55-74 years   9.84
27763  Uzbekistan  2010  15-24 years   7.67
27765  Uzbekistan  2010    75+ years   4.59
27768  Uzbekistan  2010   5-14 years   1.74
27772  Uzbekistan  2011  35-54 years  14.26
27773  Uzbekistan  2011  25-34 years  11.03
27774  Uzbekistan  2011  15-24 years   8.22
27776  Uzbekistan  2011  55-74 years   7.00
27778  Uzbekistan  2011    75+ years   4.88
27780  Uzbekistan  2011   5-14 years   1.66
27784  Uzbekistan  2012  35-54 years  12.34
27785  Uzbekistan  2012  55-74 years  11.65
27786  Uzbekistan  2012  25-34 years  11.38
27788  Uzbekistan  2012  15-24 years   9.72
27789  Uzbekistan  2012    75+ years   7.02
27792  Uzbekistan  2012   5-14 years   2.48
27796  Uzbekistan  2013  35-54 years  14.37
27797  Uzbekistan  2013  25-34 years  12.40
27799  Uzbekistan  2013  15-24 years  10.09
27800  Uzbekistan  2013  55-74 years   9.89
27801  Uzbekistan  2013    75+ years   5.88
27805  Uzbekistan  2013   5-14 years   2.24
27808  Uzbekistan  2014  35-54 years  15.17
27809  Uzbekistan  2014  25-34 years  11.61
27811  Uzbekistan  2014  55-74 years  11.33
27812  Uzbekistan  2014  15-24 years  11.10
27813  Uzbekistan  2014    75+ years   7.56
27817  Uzbekistan  2014   5-14 years   2.17

[13910 rows x 4 columns]